body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body{
  background-image:"D:\vscode\web\4230932.png";

}

h1 {
  font-size: 1.5rem;
}
.box {
  background-color: rgb(88, 70, 70);
  border: rgb(255, 255, 255) 1px solid;
  margin-bottom: 20px; 
}